#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(images/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}
#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
#list-bg{
    background-color: rgb(216, 237, 238);
    padding-bottom: 5px;
}
#Items{
    border: 3px solid rgba(253, 251, 251, 0.959);
    padding-bottom: 2px;
    margin: 5px 0;
}
a{
    text-decoration: none;
}
#Form_card{
    margin-top: 10px;
}
#Form_header{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#Form_card_body{
    background-color: rgb(238, 236, 229);
}
#Form_card_title{
    padding: 0px;
    margin: 0px;
}
#login_form{
    margin: 10px;
}
#Form_button{
    margin-bottom: 20px;
    padding: 3px;
}
#Form_footer{
    padding-top: 5px;
    padding-left: 5px;
}
#signup_form{
    margin: 10px;
}
#product_jumbotron{
    margin: 10px 0;
    background-color: rgb(190, 213, 214);
}
footer{
    padding: 8px 0 3px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%
}